<form accept-charset="UTF-8" action =<%= users_path %> method='POST'>

    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>

    <label for="user_name">User Name</label>
    <input id='user_name' name='user[username]' type ="text">
    <br>
    <label for="user_email">User Email</label>
    <input id='user_email' name='user[email]' type ="text">
    <br>
    <label for="user_pass">User password</label>
    <input id='user_pass' name='user[password]' type ="password">
    <br>
    <input type='submit' name="commmit" value="Create User">
</form>